body, html{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 90%;
    display: grid;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imgs/welcome.jpg");
    background-size: 100% 112%;
}

#welcome{
    margin: auto;
    top: 50%;
    color: white;
}

#smallTxt{
    font-size: 2vw;
}

#bigTxt{
    font-size: 4vw;
}

#buttons{
    display: inline-block;
}

#button1 , #button2{
    color: white;
    background-color: rgba(255, 255, 255, 0.281);
    border: 3px solid white;
    font-size: 30px;
    width: 10vw auto;
    height: auto;
    text-align: center;
    display: inline-block;
}